<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933555646300-qafjpc0amaeqdo1ubkck25n3vjd53cbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933555646300-qafjpc0amaeqdo1ubkck25n3vjd53cbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBzYklVvExwzt52tmuhwAr3wu7SY344FNM</string>
	<key>GCM_SENDER_ID</key>
	<string>933555646300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.sdu.sdu-groups123</string>
	<key>PROJECT_ID</key>
	<string>sdu-groups</string>
	<key>STORAGE_BUCKET</key>
	<string>sdu-groups.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933555646300:ios:8adced3f7fc7476ceadb99</string>
	<key>DATABASE_URL</key>
	<string>https://sdu-groups.firebaseio.com</string>
</dict>
</plist>